$primary-background :#F2EEED;
$primary-secondary :#2F4A57;
$primary-third :#4F788D;
$primary-fourth:#7BA6B4;
$primary-fifth: #A5BFC5;
$display-typeface:'Glegoo', cursive;
$secondary-typeface: 'Roboto', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}


body {
  background-color: $primary-background;
  font-family: $secondary-typeface;
  font-weight: 100;

  button {
    background-color: $primary-fifth;
    border-radius: 5px;
    border: none;
    width: 150px;;
    height: 25px;
    font-weight: 600;
    color: #2F4A57;
  }

  button:hover {
    background-color:$primary-secondary;
    color: #FFFFFF;
  }
  
  h1 {
    font-family: $display-typeface;
    font-size: 2.3em;
    padding: 10px;
    color: $primary-background;
    background-color: $primary-third;
    width: 300px;
  }

  h3 {
    color: $primary-secondary;
    font-family: $display-typeface;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin: 10px;
  }

  h5 {
    color: $primary-fourth;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-size: 1em;
    margin: 10px;
  }

  span {
    font-family: $display-typeface;
    color: $primary-secondary;
    font-weight: 700;
  }

  nav {
    display: flex;
    justify-content: space-between;

    .nav-div_left-nav {
      width: 65%;
      margin-top: 10px;
    }

    .nav-button_delete-user {
      width: 150px;
      box-sizing: border-box;
      display: inline-block;
      color: #2F4A57;
      margin: 20px;
    }

    .nav-header_chosen-user {
      margin-top: 2.2%;
      width: 500px;
    }
    
    .chosen-name {
      font-weight: 300;
      color: #4F788D;
    }

    .reset-button {
      width: 100px;
    }

    .nav-div_right-nav {
      align-content: center;

      h3 {
        font-size: 1.5em;
      }
    }
  }

  main {
    margin-top: 25px;

    a {
      text-decoration: none;
    }


    button {
      background-color: $primary-background;
    }

    button:disabled {
      background-color: $primary-background;
    }
    
    button:hover{
      background-color: $primary-secondary;
    }

    .customer-search {
      padding-top: 20px;

      input {
        width: 300px;
      }
    }

    .customer-button_create-customer {
      margin-top: 20px;
    }

    .main-header_date {
      display: inline;
    }

    .main-header_total-revenue {
      margin-top: 25px;
    }
    
    input {
      width: 10%;
      border-radius: 5px;
      border-style: none;
      padding: 5px;
      margin: 10px;
    }

    .main-div_tabs-panel{
      text-align: center;
      margin-top: 20px;
    }

    .main-button_submit-date {
      background-color: $primary-fifth;
    }

    .list-item {
      list-style: none;
      display: inline-block;
      background-color: $primary-third;
      padding: 8px 10px;
      border-radius: 10px 10px 0px 0px;
      color:$primary-background;
      cursor: pointer; 
      width: 10%;
      font-size: 1em;
      font-family: $display-typeface;
      text-align: center;
      height: 40px;
    }
    
    .list-item.active {
      background-color: $primary-fifth;
    }

    .list-item:hover {
      background-color: $primary-secondary;
    }

    .panel {
      display: none;
      background-color: $primary-fifth;
    }
    
    .panel.active{
      display: block;
      width: 90%;
      margin-left: 5%;
      height: 60vh;
      padding: 20px;
    }

    .tabs {
      text-align: left;
      margin-left: 5%;
    }

    .customer-div_customer-found {
      margin-top: 20px;
    }

    .bookings-list_todays-bookings, 
    .bookings-list_available-bookings,
    .bookings-list_chosen-date-bookings,
    .bookings-list_available-chosen-date,
    .bookings-list_customer-bookings {
      max-height: 200px;
      overflow: scroll;
      padding: 20px;
      span {
        display: block;
      }
    }

    .book-room {
      width: 100px;
      margin: 5px;
    }
    

  }

}
