$primary-background :#F2EEED;
$primary-secondary :#2F4A57;
$primary-third :#4F788D;
$primary-fourth:#7BA6B4;
$primary-fifth: #A5BFC5;
$display-typeface:'Glegoo', cursive;
$secondary-typeface: 'Roboto', sans-serif;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}


body {
  background-color: $primary-background;
  font-family: $secondary-typeface;
  font-weight: 100;

  button {
    background-color: $primary-fifth;
    border-radius: 5px;
    border: none;
    width: 10%;
    height: 25px;
    font-weight: 600;
    color: #2F4A57;
  }
  
  h1 {
    font-family: $display-typeface;
    font-size: 2.3em;
    margin: 10px;
    color: $primary-third;
  }

  h3 {
    color: $primary-secondary;
    font-family: $display-typeface;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin: 10px;
  }

  h5 {
    color: $primary-third;
    font-weight: 700;
    letter-spacing: 1.2px;
  }

  span {
    font-weight: 200;

  }

  nav {
    display: flex;
    justify-content: space-between;

    .nav-div_left-nav {
      display: flex;
      width: 25%;
      }
    .nav-button_delete-user {
      width: 50%;
      margin: 20px;
      }
    }

  main {

    a {
      text-decoration: none;
    }
    
    input {
      width: 10%;
      border-radius: 5px;
      border-style: none;
      padding: 5px;
      margin: 10px;
    }
  }



  
}
